{% from 'components/work.html' import project_list %}
<!DOCTYPE HTML>
<html>
	<head>
        {% include 'components/headmeta.html' %}
	</head>
    <body>

<div class="hsnPort-loader"></div>
		<!--front page + links & spotify-->
		{% include 'components/base.html' %}
        <!-- Resume/Timeline-->
        {% include 'components/timeline.html' %}
        <!-- Services & work--> 
        {% include 'components/services.html' %} 
		<!-- work macro-->
		{{ project_list(data) }}
        <!-- contact form-->
        {% include 'components/contactform.html' %}
         <!--footer-->
        {% include 'components/footer.html' %}
       </body>
</html>