
                
 <div id="hsnPort-footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p><span class="icon"><i class="icon-creative-commons"></i>
                </span> 2023 Hasan Imam [introvertCoder]. All Rights Reserved.</p>
                <p>Song Credits: <i class="icon-spotify2"></i>  The Living Tombstone</p>
            </div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.stellar.min.js"></script>
<script src="static/js/main.js"></script>

