<div id="hsnPort-features" class="animate-box">
	<div class="container">
		<div class="services-padding">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center hsnPort-heading">
					<h2>My Services</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-paintbrush"></i>
						</span>
						<div class="feature-copy">
							<h3>Web Design</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 text-center">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-briefcase"></i>
						</span>
						<div class="feature-copy">
							<h3>Branding</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						</div>
					</div>

				</div>
				<div class="col-md-4 text-center">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-search"></i>
						</span>
						<div class="feature-copy">
							<h3>Analytics</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4 text-center">

					<div class="feature-left">
						<span class="icon">
							<i class="icon-bargraph"></i>
						</span>
						<div class="feature-copy">
							<h3>Web Developent</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						</div>
					</div>

				</div>

				<div class="col-md-4 text-center">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-genius"></i>
						</span>
						<div class="feature-copy">
							<h3>Web Marketing</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						</div>
					</div>

				</div>
				<div class="col-md-4 text-center">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-gears"></i>
						</span>
						<div class="feature-copy">
							<h3>Backend</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="hsnPort-started" class="hsnPort-bg-dark">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center hsnPort-heading">
				<h2>Hire Me!</h2>
				<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
			</div>
		</div>
	</div>
</div>
